.post-card {
    margin-top: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px #ccc solid;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
    overflow: visible;
    display: flex;
    max-width: 640px;
}

.post-card:hover {
    border: 1px #898989 solid;
}

.post-card-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    width: 8%;
    font-size: 18px;
    z-index: 1;
}

.post-up-arrow-div {
    cursor: pointer;
}

.post-down-arrow-div {
    cursor: pointer;
}

.upvoted {
    color: #ff4500;
}

.downvoted {
    color: #7193ff;
}

.notvoted {
    color: grey;
}

.post-card-rightside {
    /* padding-left: 40px; */
    padding-right: 8px;
    width: 92%;
}

.post-card-header {
    display: flex;
    padding-top: 8px;
    margin: 0 8px 8px;
    font-size: 12px;
    line-height: 16px;
    align-items: start;
}

.post-card-header-community {
    font-weight: 700;
    color: black;
}

.post-card-header-separator {
    margin-right: 4px;
    margin-left: 4px;
}

.post-card-header-text {
    color: grey;
}

.post-card-title {
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.post-card-content {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    overflow: hidden;
    padding-bottom: 10px;
    max-height: 250px;
}

.post-card-body-content {
    font-size: 14px;
    line-height: 21px;
    /* word-break: break-word; */
    overflow-wrap: break-word;
}

.post-card-comment-counter {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
