.community-page-content {
    display: flex;
    justify-content: center;
}

.community-page-header-container {
    height: 160px;
    width: 100%;
}

.community-page-header-colorblock {
    height: 50%;
    background-color: #33a8ff;
}

.community-page-header-textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 50%;
}

.community-page-header-subtext {
    color: #7c7c7c;
    width: 60%;
    margin-top: 8px;
    font-size: 14px;
}

.community-page-header-text {
    width: 60%;
    font-weight: bold;
    font-size: 24px;
}

.community-page-posts {
    margin-right: 15px;
    width: 640px;
}

.community-page-sidebar {
    margin-left: 15px;
    width: 312px;
}

.community-about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ccc solid;
    border-top: 1px #0079D3 solid;
    border-radius: 4px;
    word-wrap: break-word;
    overflow: visible;
    margin-top: 16px;
}

.community-about-header {
    width: 100%;
    background-color: #0079D3;
    border-left: 1px solid #0079D3;
    /* border-top: 1px solid #0079D3; */
    border-right: 1px solid #0079D3;
    border-radius: 4px 4px 0 0;
}

.community-about-header-text {
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.community-about-description {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
}

.community-about-description-text {
    margin-bottom: 8px;
}

.community-rules-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ccc solid;
    border-top: 1px #0079D3 solid;
    border-radius: 4px;
    word-wrap: break-word;
    overflow: visible;
    margin-top: 16px;
}

.community-rules-header {
    width: 100%;
    background-color: #0079D3;
    border-left: 1px solid #0079D3;
    border-right: 1px solid #0079D3;
    /* border-top: 1px solid #0079D3; */
    border-radius: 4px 4px 0 0;
}

.community-rules-header-text {
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.community-rules-list {
    padding: 12px;
}

.edit-community-link {
    text-decoration: none;
    color: #0079D3;
    border: 1px solid #0079D3;
    background-color: white;
    padding: 4px 16px;
    border-radius: 999px;
    margin-bottom: 8px;
    width: 75%;
    text-align: center;
}

.edit-community-link:hover {
    background-color: #f2f8fc;
}

.create-post-link {
    text-decoration: none;
    color: white;
    background-color: #0079D3;
    padding: 4px 16px;
    border-radius: 999px;
    margin-bottom: 8px;
    width: 75%;
    text-align: center;
}

.create-post-link:hover {
    background-color: #006cbd;
}
