.bottom-card {
    background-color: white;
    border: 1px #ccc solid;
    border-radius: 4px;
    margin-top: 16px;
    padding: 8px;
}

.bottom-card-info {
    display: flex;
    flex-direction: row;
}

.bottom-card-technologies {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 50%;
    padding-left: 8px;
}

.bottom-card-links {
    font-size: 12px;
    width: 50%;
}

.bottom-card-technologies-line {
    margin-bottom: 4px;
}
